body{
  margin: 0;
  padding: 0;
 
  background-size:cover;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden;
}
.header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin:25px 0 0 50px;
      position: relative;
    }
    .header-left{
      padding: 20px;
    }
    .header-mid{
      position: absolute;
      left: 130px;
      border-width: 1px;
      border-style: solid;
      width: 520px;
      mix-blend-mode: normal;
      opacity: 0.25;
    }
    .header-right{
      letter-spacing: 2.7px;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 3rem;
      font-size: 19px;
      
      background-color: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(30.7742px);
      height: 86px;
      padding:0 165px 0px 123px;
    }
    .header-right >div{
      height: 100%;
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    .header-right > div:hover{
        border-bottom-style: solid;
        border-width: 2px;
        margin-top: 2px;
        border-color: rgba(255, 255, 255,0.5);
        cursor: pointer;
      }
      .active{
        border-color: rgba(255, 255, 255, 1);   /*overwrite done here*/
        pointer-events: none;                   /*dangerous property. find some other way*/
        border-bottom-style: solid;
        border-width: 2px;
        margin-top: 2px;
      }
  
     