body{
  background-image: url('../assets/crew/background-crew-desktop.jpg');
}
.home-body{
    display: flex;
    flex-direction: row;
    margin: 50px 0 0px 220px;
    position: relative;
    column-gap: 180px;
  }
  .body-left{
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    position: relative;
  }
  .body-left-header{
    color:  #D0D6F9;
    font-size: 24px;
    letter-spacing: 4.72px;
    margin-left: -30px;
  }
  .body-left-header span{
    opacity: 0.35;
    mix-blend-mode: normal;
  }
  .body-left-top{
    font-family: 'Bellefair', serif;
    font-size: 32px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 6rem;
  }
  .body-left-mid{
    font-family: 'Bellefair', serif;
    font-size: 56px;
    color: white;
    margin: 15px 0 20px 0;
  }
  .body-left-last{
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
    color: #d0d6d0;
    font-size: 18px;
    width: 500px;
  }
  .body-left div:not(:first-child){
    margin-left: -32px;
  }
  .body-left-scroll{
    display: flex;
    flex-direction: row;
    position: absolute;
    column-gap: 50px;
    bottom: -6rem;
  }
  .body-left-scroll div{
    width: 15px;
    height: 15px;
    mix-blend-mode: normal;
    border-radius: 100%;
    background-color: white;
    transition: all 0.3s;
  }
  .body-left-scroll div:not(.scroll-active){    /*magic LMAO*/
    opacity: 0.2;
  }
  .scroll-active{
    opacity: 1;
    pointer-events: none;
  }
  .body-left-scroll div:hover{
    opacity: 0.6;
    cursor: pointer;
  }
  .body-right{
    position: relative;
  }