      body{
        background-image: url('../assets/technology/background-technology-desktop.jpg');
      }
    .home-body{
        display: flex;
        flex-direction: row;
        margin: 50px 0 0px 220px;
        position: relative;
      }
      .body-left{
        display: flex;
        flex-direction: column;
        row-gap: 0px;
      }
      .body-left-header{
        color:  #D0D6F9;
        font-size: 24px;
        letter-spacing: 4.72px;
        margin-left: -30px;
      }
      .body-left-header span{
        opacity: 0.35;
        mix-blend-mode: normal;
      }
      .body-left-top{
        font-size: 16px;
        mix-blend-mode: normal;
        margin-top: 5rem;
        letter-spacing: 2.7px;
        color: #D0D6F9;
      }
      .body-left-mid{
        font-family: 'Bellefair', serif;
        font-size: 56px;
        margin: 15px 0 20px 0;
      }
      .body-left-last{
        line-height: 32px;
        font-family: 'Barlow', sans-serif;
        color: #d0d6d0;
        font-size: 18px;
        width: 540px;
      }
      .body-left div:not(:first-child){
        margin-left: 100px;
      }
      .body-left-scroll{
        display: flex;
        flex-direction: column;
        position: absolute;
        row-gap: 1.5rem;
        top: 7rem;
        left: -2rem;
      }
      .body-left-scroll div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        width: 4rem;
        height: 4rem;
        border-style: solid;
        border-width: 1px;
        mix-blend-mode: normal;
        border-radius: 100%;
        
        transition: all 0.3s;
      }
      .body-left-scroll div:not(.scroll-active){    /*magic LMAO*/
        border-color: rgba(255, 255, 255, 0.5);
      }
      .scroll-active{
        pointer-events: none;
        background-color: white;
        color: black;
      }
      .body-left-scroll div:hover{
        border-color: rgba(255, 255, 255, 1);
        cursor: pointer;
      }
      /*.body-right{
        
      }*/
      .body-right img{
        height: 455px;
        position: absolute;
        right: 4rem;
      }